@import url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body{
     background:hsl(0, 0%, 8%);
     height:100vh;
     display: flex;
     border: 10px solid black;
     justify-content: center;
     align-items: center;
     font-family: "inter",sans-serif;
}
.main{
        background-color:hsl(0, 0%, 12%);
        text-align: center;
        border-radius: 12px;
        padding: 28px 22px;
         }
img{
            border-radius:50%;
            width: 60px;
        
         }
        .h2 {
            color: white;
            font-size: 20px;
            margin-bottom: 8px;
            font-size: 12px;
         }
        .name{
            color: yellow;
            display: flex;
            justify-content: center;
            font-size:15px;
                
        } 
        .quote{
            color: white;
            font-size: 12px;
            margin: 18px;
            color:rgba(255,255, 255,0.723);
        }
        
        .box button
        {
            background-color:hsl(0, 0%, 20%);
            border: 0px;
            border-radius: 6px;
            padding: 12px 52px;
            font-size: 12px;
            border-radius: 6px;
            font-weight: 700;
            width: 100%;
            color: rgba(255,255, 255,0.723);
            transition: all 0.2s ease-in-out;
}
.box button:hover{
    background: yellow;
    border: 1px solid rgba(255,255, 255,0.723);

    transition: all 0.2s ease-in-out;
}
.box {
    margin: 12px 0px;
}



